
.main-container{
    width:800px;
    
    border: 2px solid black;
    
}
.sub{
   border: 1px solid;
    height: 100px;
    width: 200px;
    font-size: 40px;
    justify-content: center;
    
}
.sub1{
   border: 1px solid;
    height: 100px;
    width: 200px;
    font-size: 40px;
    justify-content: center;
    
}
.subchild1,.subchild2,.subchild3,.subchild4,.subchild5,.subchild6,.subchild7,.subchild8{
    display: flex;
    
}
.sub:nth-child(odd){
    background-color: skyblue;
}.sub1:nth-child(even){
    background-color: skyblue;
}


